<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link rel="stylesheet" id="pageloader-css" href="{pboot:sitedomain}/skin/css/pageloader.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/public.css" />
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/iconfont.css" />
</head>
<body>
<div class="wrap isload">
  {include file=head.html}
  <div class="pic_bn"> {pboot:sort scode={sort:tcode}}<img class="pic_bn_img" src="[sort:pic]" />{/pboot:sort}
    <div class="pic_text"> <img src="{pboot:sitedomain}/skin/images/inbt_11.png" /> </div>
    <div class="pic_go_back">
      <h2>{sort:topname}</h2>
      <div class="go_back">
        <ul>
          {pboot:nav num=40 parent={sort:tcode}}
          <li {pboot:if('[nav:scode]'=='{sort:scode}')}class="li_cut"{/pboot:if} ><a href="[nav:link]">[nav:name]</a></li>
          {/pboot:nav}
        </ul>
      </div>
    </div>
  </div>
  <div class="m_pic_bn"> {pboot:sort scode={sort:tcode}}<img src="[sort:ico]" />{/pboot:sort} </div>
  <div class="html_cont">
    <div class="cont_title">
      <h2>{sort:topname}</h2>
      <div class="go_home"> <i class="iconfont">&#xe605;</i> 所在位置：{pboot:position}</div>
      <div class="clear"></div>
    </div>
    <div class="mien">
      <div class="mien_line"></div>
      <div class="history_con">
        {pboot:list num=5 order=sorting}
        <div class="mien_li {pboot:if([list:i]%2==0)}mien_li1{else}mien_li{/pboot:if}">
          <div class="mien_li_left" style="border: 4px solid #90d966;"> <img src="[list:ico]" width="100%" class="pc254"/> <i class="iconfont {pboot:if([list:i]%2==0)}icon-sanjiao-copy-copy-copy{else}icon-sanjiao{/pboot:if}" style="color:#90d966"></i> </div>
          <div class="mien_quan"><span>[list:title]</span></div>
          <div class="mien_li_right">
            <h2>[list:title]</h2>
            <p style="line-height: 200%; text-indent: 0em;">[list:content drophtml=1 dropblank=1]</p>
          </div>
        </div>
        {/pboot:list}
      </div>
    </div>
    {pboot:if({page:rows}>0)}
    <div class="pagebar">
    <div class="pagination">
    <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
    {page:numbar}
    <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
    <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
    </div>
    </div>	
    {else}
    <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
  </div>
  <!--公共脚部-->
  {include file=foot.html}
</div>
{include file=foot2.html}
<!--end--> 
<script type="text/javascript">
                $(document).ready(function() {
                    var offset_top, scroll_top, offset_top;
                    win_height = $(window).height();

                    function scroll_js() {
                        var scroll_top = $(window).scrollTop();
                        $(".mien_li").each(function() {
                            offset_top = $(this).offset().top;
                            if(win_height + scroll_top > offset_top + 200) {
                                $(this).addClass("move_load1");
                            }
                        });
                    }
                    scroll_js();
                    $(window).scroll(function() {
                        scroll_js();
                    });
                    var win_width = $(window).width();
                    if(win_width <= 750) {
                        $(".icon-sanjiao-copy-copy-copy").addClass("icon-sanjiao").removeClass("icon-sanjiao-copy-copy-copy");
                    }
                });
            </script>
</body>
</html>