<div class="html_right">
      {pboot:sort scode=2}
      <h2 class="text_h2">[sort:name]</h2>
      <img src="[sort:ico]" class="text_img" />
      <div class="text_p"> {pboot:content id=19}[content:content drophtml=1 dropblank=1 len=90 more='...']{/pboot:content} </div>
      <a href="[sort:link]" class="text_a"><span>了解更多</span><i class="iconfont">&#xe735;</i></a>
      {/pboot:sort}
      <h2 class="text_h2">企业宣传片</h2>
      <div class="text_pr">
        <input type="text" value="{pboot:sitedomain}/skin/images/video.jpg" class="video_img hidden">
        <a href="javascript:;" data-value="{label:video}"> <img src="{pboot:sitedomain}/skin/images/video.jpg" class="text_img" /> <b><i class="iconfont">&#xe6c2;</i></b> </a> </div>
    </div>