<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link rel="stylesheet" id="pageloader-css" href="{pboot:sitedomain}/skin/css/pageloader.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/public.css" />
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/iconfont.css" />
</head>
<body>
<div class="wrap isload">
  {include file=head.html}
  <!--end--> 
  <!--end-->
  <div class="pic_bn">  {pboot:sort scode={sort:tcode}}<img class="pic_bn_img" src="[sort:pic]" />{/pboot:sort}
    <div class="pic_text"> <img src="{pboot:sitedomain}/skin/images/inbt_24.png" /> </div>
    <div class="pic_go_back">
      <h2>{sort:topname}</h2>
      <div class="go_back">
        <ul>
          {pboot:nav num=40 parent={sort:tcode}}
          <li {pboot:if('[nav:scode]'=='{sort:scode}')}class="li_cut"{/pboot:if} ><a href="[nav:link]">[nav:name]</a></li>
          {/pboot:nav}
        </ul>
      </div>
    </div>
  </div>
  <div class="m_pic_bn"> {pboot:sort scode={sort:tcode}}<img src="[sort:ico]" />{/pboot:sort} </div>
  <div class="html_cont"> 
    <!--环境保护倡仪-->
    {pboot:sort scode=23}
    <div class="duty_left">
      <h2>[sort:name]</h2>
      <p>{pboot:content id=56}[content:content drophtml=1 dropblank=1 len=100 more='...']{/pboot:content}</p>
      <a href="[sort:link]" class="text_a"><span>了解更多</span><i class="iconfont">&#xe735;</i></a> </div>
    {/pboot:sort}
    <!--end-->
    {pboot:sort scode=24}
    <div class="duty_center"> 
      <div class="duty_c_t">
        <h2 style="color:#fff;">[sort:name]</h2>
        <p>{pboot:content id=57}[content:content drophtml=1 dropblank=1 len=70 more='...']{/pboot:content}</p>
        <a href="[sort:link]" class="text_a" style="color:#fff;border: 1px solid #fff;margin-top: 10px; right: 0;float: right;"><span>了解更多</span>
        <div class="iconfont">&#xe735;</div>
        </a> <i class="iconfont">&#xe60e;</i> </div>
      <div class="duty_c_b duty_img"> <img src="[sort:ico]" /> </div>
       </div>
      {/pboot:sort}
    <div class="duty_center duty_right">
    {pboot:sort scode=25}
      <div id="index" class="index_banner">
        <div class="ban_hd" style="padding-left: 19px; text-align: left;">
          <ul>
            <!--自动根据图片数量添加焦点-->
          </ul>
        </div>
        
        <div class="ban_bd">
          <ul>
            {pboot:list scode=[sort:scode] num=3 order=sorting}
            <li> <a href="[list:link]">
              <div class="pc_bn"> <img src="[list:ico]" height="215" />
                <div class="duty_c_t">
                  <h2>[list:title]</h2>
                  <p>[list:description lencn=40]</p>
                  <span>[list:date style=Y-m-d]</span> </div>
              </div>
              </a> </li>
            {/pboot:list}
          </ul>
        </div>
        <div class="q_zr" style="">[sort:name]</div>
        {/pboot:sort}
      </div>
    </div>
  </div>
  <div class="duty_bottom">
    <h2>环境保护成就</h2>
    <p></p>
    <div class="duty_pr">
      <div class="duty_a1"> <span>累计发电0.4亿度</span> </div>
      <div class="duty_a2"> <span>减少粉尘排放1.1万吨</span> </div>
      <div class="duty_a3"> <span>累计减排二氧化碳4万吨</span> </div>
      <div class="duty_a4"> <span>减排二氧化硫0.12万吨</span> </div>
      <div class="duty_a5"> <span>累计节约标准煤1.5万吨</span> </div>
    </div>
  </div>
  <!--公共脚部-->
  {include file=foot.html}
</div>
{include file=foot2.html}
<!--end--> 
<script src="{pboot:sitedomain}/skin/js/touchslide.1.1.js" type="text/javascript" charset="utf-8"></script> 
<script type="text/javascript">
	var pc_img = $(".pc_bn img").height();
	if (pc_img == 0){
		 $(".q_zr").css("top",136.2);
	}else{
		$(".q_zr").css("top",pc_img-58.8);
	}

	TouchSlide({ /*首页Banner*/
		slideCell: "#index",
		titCell: ".ban_hd ul",
		mainCell: ".ban_bd ul",
		effect: "leftLoop",
		autoPage: true,
		autoPlay: true,
		delayTime: 500,
		interTime: 6000
	});
	var offset_top, scroll_top, offset_top;
		win_height = $(window).height();
		function scroll_js() {
			var scroll_top = $(window).scrollTop();
				offset_top = $(".duty_bottom").offset().top;
				if(win_height + scroll_top > offset_top + 300) {
					$(".duty_bottom").addClass("move_load");
				}
		};
		scroll_js();
		$(window).scroll(function() {
			scroll_js();
		});
</script>
</body>
</html>